[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
alembic-postgresql-enum = "*"
pydantic-settings = "*"
ollama = "*"
pgvector = "*"
fastembed = "*"
httpx = "*"
selectolax = "*"
langdetect = "*"
taskiq = "*"
taskiq-redis = "*"
taskiq-fastapi = "*"
redis = "*"
trafilatura = "*"
certifi = "*"
crawlee = {extras = ["beautifulsoup"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
