[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
alembic-postgresql-enum = "*"
pydantic-settings = "*"
ollama = "*"
pgvector = "*"

[dev-packages]

[requires]
python_version = "3.14"
